# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log

# Virtual environment
venv/
env/
.venv/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static collected files (optional)
staticfiles/

# Media uploads (optional)
media/
